{% include 'inc/header.php' %}
{% include 'inc/background_main.php' %}
 <div class="jumbotron jumbotron-flud text-center">
   <div class="container">
   <h1 class="display-3">{{ data.title }}</h1>
   <p class="lead">{{ data.description }}</p>
   </div>
</div> 
{% include 'inc/footer.php' %}
